 body{ 
     font-family: Arial, Helvetica, sans-serif;
     color: #777;
     background: #777;
     width: 960px;
     font-size: 18px;
<<<<<<< HEAD
     margin:0 auto;
}
header{
    background: #ebebeb;
    display: block;
    margin: 5px;
    padding: 30px;

}
nav{
    background: #ebebeb;
    display: block; 
    margin: 5px;
    padding: 30px;
=======
}
head{
    background: #ebebeb;
    padding: 50px;
}
nav{
    background: #ebebeb;
>>>>>>> f46d8df5bd70034c8dcd90ff4605c9c0049e42ae
}
section{ 
    background: #ebebeb;
    width: 495px;
<<<<<<< HEAD
    float: left;
    margin: 5px;
    display: block;
    overflow: hidden;
    height: 250px;
}
aside{
    background: #ebebeb;
    width: 430px;
    display: block;
    float: right;
    margin: 5px;
    height:250px;
}
footer{
    background: #ebebeb;
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;

=======
}
aside{
    background: #ebebeb;
}
footer{
    background: #ebebeb;
>>>>>>> f46d8df5bd70034c8dcd90ff4605c9c0049e42ae
}
article{
    color: #ebebeb;
    background: #777;
<<<<<<< HEAD
    display: block;
    text-align: center;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
h1,h2,h3{
    color: #777;
    background: #ebebeb;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
=======
}
h1{
    color: #777;
    background: #ebebeb;
>>>>>>> f46d8df5bd70034c8dcd90ff4605c9c0049e42ae
}
p{
    color: #777;
    background: #ebebeb;
<<<<<<< HEAD
    text-align: center;
    height: 45px;
    
}
#bear{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#clear{
    clear: both;
}
=======
}
>>>>>>> f46d8df5bd70034c8dcd90ff4605c9c0049e42ae
